body {
    font-family: sans-serif;
    background-color: #fff;
    font-size: 25px;
}
li a {
    font-family: sans-serif;
    color: #16ff9f;
    text-decoration: none;
}
a {
    font-family: sans-serif;
    color: #16ff9f;
    text-decoration: none;
    padding: 10px;
}
h1 {
    text-align: center;
}
form {
    margin: 10px;
}
.button {
    background-color: #16ff9f; 
    border: none;
    color: white;
    margin-top: 5px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}